/* 
    Document   : ref
    Created on : 23-jun-2012, 22:10:15
    Author     : Robinson
    Description:
        Purpose of the stylesheet follows.
*/

.registro_ref_hoja_vida{
    border: 1px dashed #aaa;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.creador{
    position: relative;
    top: -13px;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    color: #555;
    font-size: 11px;
    float: left;
}

.fecha{
    position: relative;
    top: -13px;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    color: #555;
    font-size: 11px;
    float: right;
}

.descripcion{
    clear: both;
}

.mantenimientos{
    border: dashed 1px #ccc;
    width: 500px;
/*    height: 180px;*/
    float: left;
    margin-right: 25px;
    padding: 10px;
    font-size: 15px;
}

#calMantenimiento{
    float: left;
}

.manttoProx{
    background-color: #2BAC00;
}

.manttoPas{
    background-color: #FCB42D;
}

.manttoEje{
    background-color: #aaa;
}

.cargando{
    color: #ccc;
}

.titulo_mantto{
    margin-bottom: 5px;
}
.titulo_mantto b{
    color: #0A246A;
}

.descripcion_mantto{
    border: dashed 1px #ccc;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 8px;
    position: relative;
    left: 5px;
}

.tit_descripcion_mantto{
    color: #0A246A;
    font-weight: bold;
}

.asignador_mantto b{
    color: #0A246A;
}

.fecha_mantto{
    text-align: right;
    color: #999;
    font-size: 12px;
}