
/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: none;
	width: 100%;
        background-color: #eee;
        border: 1px solid #ccc;
}

table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #ccc;
	font-weight: bold;
	cursor: pointer;
        background-color: #ddd;
        color: #000;
	*cursor: hand;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
        border-bottom: 1px solid #ddd;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

/*table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: #eef; }*/

table.dataTable tr.odd { 
    background-color: #f9fcff;
}
table.dataTable tr.even { 
    background-color: #f4f9ff;
}

table.dataTable tr.odd td.sorting_1 { background-color: #f9fcff; }
table.dataTable tr.odd td.sorting_2 { background-color: #f9fcff; }
table.dataTable tr.odd td.sorting_3 { background-color: #f9fcff; }
table.dataTable tr.even td.sorting_1 { background-color: #f4f9ff; }
table.dataTable tr.even td.sorting_2 { background-color: #f4f9ff; }
table.dataTable tr.even td.sorting_3 { background-color: #f4f9ff; }


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: none;
	*zoom: 1;
        font-size: 14px;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
        padding-top: 5px;
        padding-bottom: 5px;
}


/*
 * Filter
 */
.dataTables_filter {
	float: none;
	text-align: right;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px dashed #ccc;
}


/*
 * Table information
 */
.dataTables_info {
    clear: both;
    float: left;
    font-size: 14px;
    margin-top: 3px;
    color: #555;
}

.dataTables_length{
    color: #555;
}

.dataTables_filter{
    color: #555;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('/js/DataTables-1.9.0/media/images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('/js/DataTables-1.9.0/media/images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('/js/DataTables-1.9.0/media/images/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('/js/DataTables-1.9.0/media/images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('/js/DataTables-1.9.0/media/images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('/js/DataTables-1.9.0/media/images/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('/js/DataTables-1.9.0/media/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('/js/DataTables-1.9.0/media/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('/js/DataTables-1.9.0/media/images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('/js/DataTables-1.9.0/media/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('/js/DataTables-1.9.0/media/images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable th:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}


/*Foot*/
.dataTables_wrapper div.foot{
	border-bottom: 1px dashed #ccc;
        height: 25px;
}

/*Resaltar*/

#dataTable tbody tr.even:hover, #dataTable tbody tr.even td.highlighted {
	background-color: #fffcca;
}

#dataTable tbody tr.odd:hover, #dataTable tbody tr.odd td.highlighted {
	background-color: #fffcca;
}

#dataTable tr.even:hover {
	background-color: #fffcca;
}

#dataTable tr.even:hover td.sorting_1 {
	background-color: #fffcca;
}

#dataTable tr.even:hover td.sorting_2 {
	background-color: #fffcca;
}

#dataTable tr.even:hover td.sorting_3 {
	background-color: #fffcca;
}

#dataTable tr.odd:hover {
	background-color: #fffcca;
}

#dataTable tr.odd:hover td.sorting_1 {
	background-color: #fffcca;
}

#dataTable tr.odd:hover td.sorting_2 {
	background-color: #fffcca;
}

#dataTable tr.odd:hover td.sorting_3 {
	background-color: #fffcca;
}

/*Selected*/

.dataTable tbody tr.row_selected{
    background-color: #c5dbed;
}

.dataTable  tbody tr.row_selected td.sorting_1 {
    background-color: #c5dbed;
}

.dataTable  tbody tr.row_selected td.sorting_2 {
    background-color: #c5dbed;
}

.dataTable  tbody tr.row_selected td.sorting_3 {
    background-color: #c5dbed;
}

/*Correcciones*/

.dataTables_wrapper div.ui-helper-clearfix:after{
    clear: none;
    content: none;
    display: none;
    height: auto;
}

.dataTables_wrapper div.ui-widget-header{
    background: none;
    border: none;
    color: #000;
    font-weight: normal;
}

.DataTables_sort_icon{
    float:left;
}

/*Barra de exportacion*/

div.DTTT_container {
    float:left;
}

button.DTTT_button {
    background: none;
    margin-left: 5px;
    border: 1px #FFF;
    background: #eee;
}

button.DTTT_button_copy {
    background: url('/images/iconos/copySmall.png');
    width: 16px;
    height: 16px;
}

button.DTTT_button_xls {
    background: url('/images/iconos/excelSmall.png');
    width: 16px;
    height: 16px;
}

button.DTTT_button_pdf {
    background: url('/images/iconos/pdfSmall.png');
    width: 16px;
    height: 16px;
}

/*Toolbar*/
div.toolbar {
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    border-left: 1px solid #ccc;
}

div.toolbar a {
    margin-left: 5px;
}

.small{
    font-size: 11px;
}